<link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">



#banner {
  height: 0px;

}

body {
  /* background-image: url('Images/starry.gif');
 background-size: 100% auto;
 background-repeat: repeat-y;
 margin: 0;
 padding: 0;
 border: 0;
 z-index: 0; */
    background-color: rgb(207, 207, 201);
    background-image: url("Images/starry.gif");
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;



}

.mainTitle{
  color: white;
  font-family : 'Gugi', regular;
  font-size : 200%;
  text-align: center;

}

#mainContents{
  background-image: url('Images/red.png');
  width: 100%;

 background-size: 100% auto;
 background-repeat: repeat;

 margin: 0;
 padding: 0;
 border: 0;
 z-index: 0;
}



.secondaryTitle{
  color: white;
  font-family : 'Gugi', regular;
  font-size : 50wv;
  text-align: center;

}
.jobDesc{
  color: pink;
  font-family : 'Gugi', regular;
  font-size : 50wv;
  text-align: center;

}

.bodyText {
    color: white;
    font-family : 'Gugi', regular;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 99;
    position: relative;
}
.bio{
  color: pink;
  font-size : 45wv;
  font-family : 'Gugi', regular;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  z-index: 99;
  position: relative;
  padding-bottom: 40px;
}

h1{
    font-family: 'Gugi', regular;
    font-size: 4vw;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

h4{
    font-family: 'Gugi', regular;
    font-size: 1vw;
    color: pink;
    margin: 0;
    text-align: center;
}

h2{
  font-size: 3vw;
}


img {
    position: relative;
    width: 100%;
    margin:0;
    /* background-position: bottom center; */
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.flex-item-characters {
  max-width: 18%;
}

.flex-item-snapshots {
  max-width: 40%;
  padding-top: 20px;
}
.flex-item-profiles{
  max-width: 15%;

}


/*mailchimp*/
#mc_embed_signup{
    background:clear;
    color: white;
    font-size: 2vw;
    font-family: 'Gugi', regular;
    text-align: center;
    width:100%;
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

}

/* parallax*/

.keyart, .keyart_layer {
	height: 60vw;
    background-repeat: no-repeat;
}

.keyart {
	position: relative;
	z-index: -10;
}

.keyart_layer {
	background-position: bottom;
	background-size: 100% auto;
	width: 100%;
}
.keyart_layer.parallax {
	position: fixed;
}


#keyart-1 {
  background-image: url("Images/transparentHorizon.png");
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 0;

}

#keyart-2{
  background-image: url("Images/rpfTitle2.png");
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 0;
}





/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

.column img:hover {
  opacity: 1;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}


.zoom {
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
